*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Handlee', cursive;
}
header {
    height: 100px;
    width: 1500px;
    background-color: #F45B69;
    max-width: 100%;
    max-height: 20%;
    font-size: 20px;
    padding: 10px;
    display: block;
    position: fixed;
    z-index: 1;
    border-bottom: 8px solid #6b383d;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
nav {
    
    color:white;
    display: inline-block;
    
}
nav .banner {
	
    float: right;
}
.banner h1  {
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    text-align: center;
    display: inline;
}
.banner img {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 100px;
    padding: 7px;
    margin: 7px;
    display: inline;
}

main {
    padding-top: 3px; 
}

.box-biography {
    height: 450px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 50px;
    color: black;
}
h2 .title{
    text-align: center;
    display: inline;
    color: black;
    font-size: 20px;

        
}
h2 {
    text-align: center;
    display: block;
    color: black;
    font-size: 32px;
    padding: 10px;
    margin: 20px;
    font-weight: 800;    
}
p {
    text-align: justify;
    display: block;
    color: black;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    font-weight: 500;
    font-family: 'Handlee', cursive;
}

section img {
    text-align: center;
    display: block;
    width: 60%;
    height: 60%;
    margin: 15px;
    margin-left: 280px;
}
img {
    
    border: 10px solid white;
    border-radius: 15px;
    
}



/*--------------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    background-image: url(../../images/full-fondo..jpg);
    background-repeat:round;
    max-width: 100%;
    max-height: 100%;
    color: #fff;
    overflow-x: hidden;
    padding-bottom: 50px;
    }